@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* Spaces */
  --headerHeight: 110px;
  --container: 1110px;

  /* Colors */
  --red: #e01919;
  --purple: #4d427b;
  --yellow: #f59b3b;
  --orange: #f08037;
  --lilas: #7e72b3;
  --blue: #333b8e;
  --darkgrey: #303030;

  /* Shadows */
  --shadowText: 0 -2px 44px rgba(0, 0, 0, 0.5);

  /* Overlay */
  --overlayPurple: linear-gradient(
    to right,
    color(from var(--purple) srgb r g b / 0.8) 0%,
    color(from var(--purple) srgb r g b / 0.8) 100%
  );
  --overlayGray: linear-gradient(
    to right,
    color(from var(--darkgrey) srgb r g b / 0.8) 0%,
    color(from var(--darkgrey) srgb r g b / 0.8) 100%
  );
}

@font-face {
  font-family: "Dosis";
  src: url("~/assets/fonts/Dosis/Dosis-VariableFont_wght.ttf") format("woff2");
}

* {
  font-family: Dosis;
}
