:root {
  /* Spaces */
  --headerHeight: 110px;

  /* Colors */
  --red: #e01919;
  --purple: #4d427b;
  --yellow: #f59b3b;
  --orange: #f08037;
  --lilas: #7e72b3;
  --blue: #333b8e;
  --darkgrey: #303030;

  /* Shadows */
  --shadowText: 0 -2px 44px rgba(0, 0, 0, 0.5);

  /* Overlay */
  --overlayPurple: linear-gradient(
    to right,
    color(from var(--purple) srgb r g b / 0.8) 0%,
    color(from var(--purple) srgb r g b / 0.8) 100%
  );
  --overlayGray: linear-gradient(
    to right,
    color(from var(--darkgrey) srgb r g b / 0.8) 0%,
    color(from var(--darkgrey) srgb r g b / 0.8) 100%
  );
}

@font-face {
  font-family: "Dosis";
  src: url("~/assets/fonts/Dosis/Dosis-VariableFont_wght.ttf") format("woff2");
}

* {
  font-family: Dosis;
}
