/* Types */

.roboto {
  font-family: Roboto, sans-serif;
}

.pageTitle {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  margin-block: 20px;
  text-transform: capitalize;
}

.sectionTitle {
  font-size: 1.85rem;
  line-height: 1.2;
  font-weight: 600;
  margin-block: 20px;
}

.topicTitle {
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 600;
  margin-block: 10px;
}

.topicTitle2 {
  font-size: 1.5rem;
  line-height: 1.333;
  font-weight: 700;
  margin-bottom: 8px;
  color: var(--orange);
}

/* Containers */

.cbase {
  width: 100%;
  max-width: 1110px;
  padding: 0 40px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

@media (max-width: 600px) {
  .cbase {
    padding: 0 20px;
  }
}

/* Container query */

.inline-size {
  container-type: inline-size;
}

/* Colors */

.white {
  color: white;
}

.orange {
  color: var(--orange);
}

.yellow {
  color: var(--yellow);
}

.purple {
  color: var(--purple);
}

/* Shadows */

.shadow-text {
  text-shadow: var(--shadowText);
}
