:root {
  /* Spaces */
  --headerHeight: 110px;

  /* Colors */
  --red: #e01919;
  --purple: #4d427b;
  --yellow: #f59b3b;
  --orange: #f08037;
  --lilas: #7e72b3;
  --blue: #333b8e;

  /* Shadows */
  --shadowText: 0 -2px 44px rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: "Dosis";
  src: url("~/assets/fonts/Dosis/Dosis-VariableFont_wght.ttf") format("woff2");
}

* {
  font-family: Dosis;
}
